<!doctype html>
<html lang="pl">
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}Car Renting App{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
