html,
body {
    font-size: 100%;
    height: 100%;
}

body {
    color: #000000;
    text-align: center;
    background-color: #ffffff;
    /*background: url('../img/background.jpg');*/
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
    display: table;
    width: 100%;
    height: 100%; /* For at least Firefox */
    min-height: 100%;
}
.site-wrapper-inner {
    display: table-cell;
    vertical-align: top;
}
.cover-container {
    margin-right: auto;
    margin-left: auto;
}

.cover{
    padding: 0 1.5rem;
}

.cover-heading {
    font-size: 6rem;
    color: #FF792F;
    margin-bottom: 2rem;
}

.normal-heading{
    font-size: 3rem;
    color: #FF792F;
    margin-bottom: 2rem;
}

/* Custom default button */
.btn-secondary{
    color: #fff;
    text-shadow: none; /* Prevent inheritance from `body` */
    background-color: #ff792f;
    border: .05rem solid #fff;
    transition: all 0.5s ease-in-out 0s;

}

.btn-secondary:hover,
.btn-secondary:focus{
    color: #ff792f;
    text-shadow: none; /* Prevent inheritance from `body` */
    background-color: #fff;
    border: .05rem solid #ff792f;
}

/* Affix and center */

@media (min-width: 40em) {
    /* Pull out the header and footer */
    .lead{
        font-size: 1rem;
    }
    /* Start the vertical centering */
    .site-wrapper-inner {
        vertical-align: middle;
    }
    /* Handle the widths */
    .cover-container {
        width: 100%; /* Must be percentage or pixels for horizontal alignment */
    }
}

@media (min-width: 62em) {
    .cover-container {
        width: 50rem;
    }
    .lead{
        font-size: 1.25rem;;
    }
}

/* Form layout */

.form-control{
    margin: 0 1px;
}

@media (min-width: 768px){
    .form-inline .form-control {
        display: inline-block;
        width: auto;
        vertical-align: middle;
    }
}

