{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <div class="site-wrapper">
        <div class="site-wrapper-inner">
            <div class="cover-container">
                <div class="cover">
                    <h1 class="cover-heading">SymfonyCar</h1>
                    <p class="lead">SymfonyCar Polska jest częścią największej sieci wynajmu samochodów na świecie.
                        Od czasu powstania firmy w Krakowie w 2016 roku, nieprzerwanie i konsekwentnie rozwija
                        działalność, tworząc filie w innych krajach, zawiera strategiczne alianse i nawiązuje
                        współpracę z partnerami na całym świecie.
                    </p>
                    <a href=" {{ path('search') }}" class="btn btn-secondary btn-lg">Wynajmij Teraz</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
