{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <div class="site-wrapper">
        <div class="site-wrapper-inner">
            <div class="cover-container">
                <div class="cover">
                    <h1 class="cover-heading">SymfonyCar</h1>
                    <p class="lead">SymfonyCar in Poland is a one of the World's biggest car rental company. Since its
                        foundation in 2016 in Kraków, it has been constantly and consistently developing its structure,
                        creating subsidiaries in many countries and starting cooperation with partners woldwide.</p>
                    <a href=" {{ path('search') }}" class="btn btn-secondary btn-lg">Rent Now</a>
                    <a href=" {{ path('find_reservation') }}" class="btn btn-secondary btn-lg">Find Reservation</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
